:root{
    --primary-color: #1F1C21ff;
    --secondary-color: #747374ff;
    --accent-color: #5D53A2ff;
    --background-color: #060306ff;
    --text-color: #F5F5F5ff;
    --link-color: #ecece5;
    --sucess-color: rgb(65, 255, 65);
    --failure-color: rgb(255, 65, 65);
}
